/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Poppins', sans-serif;
}

:root{
    /* ===== Colors ===== */
    --primary-color: #cbd8fa;
    --panel-color: #FFF;
    --text-color: #000;
    --black-light-color: #707070;
    --border-color: #e6e5e5;
    --toggle-color: #DDD;
    --box1-color: #4DA3FF;
    --box2-color: #FFE6AC;
    --box3-color: #E7D1FC;
    --title-icon-color: #fff;
    
    /* ====== Transition ====== */
    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
    --tran-03: all 0.2s ease;
}

body{
    min-height: 50vh;
    background-color: var(--primary-color);
}



nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background-color: var(--panel-color);
    border-right: 1px solid var(--border-color);
    transition: var(--tran-05);
}
nav.close{
    width: 73px;
}
nav .logo-name{
    display: flex;
    align-items: center;
}
nav .logo-image{
    display: flex;
    justify-content: center;
    min-width: 45px;
}

nav .logo-name .logo_name{
    font-size: 22px;
    font-weight: 600;
    color: var(--text-color);
    margin-left: 9px;
 
}

nav .menu-items{
    margin-top: 40px;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu-items li{
    list-style: none;
}
.menu-items li a{
    display: flex;
    align-items: center;
    height: 50px;
    text-decoration: none;
    position: relative;
}


.menu-items li a i{
    font-size: 24px;
    min-width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black-light-color);
}
.menu-items li a .link-name{
    font-size: 18px;
    font-weight: 400;
    color: var(--black-light-color);    
    transition: var(--tran-05);
}
nav.close li a .link-name{
    opacity: 0;
    pointer-events: none;
}

.anonymous-reporting {
  background-color: #fff;
  border-radius: 12px;
  padding: 90px;
  width: 50%;
  margin: auto;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


.anonymous-reporting .title {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.anonymous-reporting .title i {
  font-size: 24px;
  color: var(--primary-color);
  margin-right: 10px;
}

.anonymous-reporting .title .text {
  font-size: 24px;
  font-weight: 500;
  color: var(--text-color);
}

.anonymous-reporting form {
  display: flex;
  flex-direction: column;
}

.anonymous-reporting form label {
  margin-bottom: 10px;
  font-size: 18px;
  color: var(--text-color);
}

.anonymous-reporting form select,
.anonymous-reporting form textarea {
  padding: 10px;
  border: 1px solid #110808;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 16px;
}

.anonymous-reporting form button {
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: #fffafa;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.anonymous-reporting form button {
  background-color: #0c3ec2;
}
